body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  margin-top: 17.5px;
  margin-bottom: 17.5px;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-header-menu-link::after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
}

.header-menu-link:active,
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.first-header-menu-link {
  color: #404bbf;
}

.header-contacts-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.header-menu {
  display: none;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
.header-contacts {
  display: none;
}

/* =======**OPEN-MENU**============= */

.menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  flex-shrink: 0;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #E7E9FC;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  cursor: pointer;
}

.menu-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:focus,
.menu-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.menu-close-btn:focus .menu-close-btn-icon,
.menu-close-btn:hover .menu-close-btn-icon {
  fill: #ffffff;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:active,
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}

.first-mob-menu-link {
  color: #404bbf;
} 

.menu-contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
  margin-bottom: 48px;
}

.menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-contacts-link {
  color: #434455;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.menu-icon-list {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.menu-icon-item {
  width: 40px;
  height: 40px;
}

.menu-icon-item-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-item-link:hover,
.menu-icon-item-link:focus {
  background-color: #404BBF;
}

.menu-icon {
  fill: #f4f4fd;
}

/* =======**HERO**============= */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob-2x.jpg);
  }
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
  background-color: #404bbf;
}

/* =======**FEATURES**============= */

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-item {
  flex-basis: 100%;
}

.features-item-text {
  font-weight: 500;
  text-align: left;
}

.features-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.features-item-icon {
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  height: 112px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}

.feature-icon {
  position: absolute;
  top: 24px;
  left: 100px;
}

/* ================================= */

/* =======**OURTEAM**============= */

.ourteam {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.ourteam-title {
  margin-bottom: 72px;
}

.ourteam-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.ourteam-item {
  flex-basis: 100%
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourteam-item-container {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
}

.ourteam-subtitle {
  margin-bottom: 8px;
  text-align: center;
}

.ourteam-item-text {
  text-align: center;
  margin-bottom: 8px;
}

.ourteam-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.ourteam-icon-item {
  width: 40px;
  height: 40px;
}

.ourteam-icon-item-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
}

.ourteam-icon {
  fill: currentColor;
}

.ourteam-icon-item-link:hover,
.ourteam-icon-item-link:focus {
  background-color: #404bbf;
}
.ourteam .container {
  padding-left: 16px;
  padding-right: 16px;
}

/* ================================= */

/* =======**PORTFOLIO**============= */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-item-overlay > img {
  width: 288px;
  height: 280px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfoilo-item-container {
  padding: 32px 16px;
  width: 288px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

/* ================================= */

/* =======**PORTFOLIO**============= */

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.footer-logo {
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.footer-logo-container,
.footer-social {
  width: 100%;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-title,
.footer-subscribe-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-item-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item-link:hover,
.footer-icon-item-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-input {
  width: 288px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  outline: transparent;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: block;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250em cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:hover {
  background-color: #404bbf;
}

.footer-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* ================================= */

/* =======**MODAL**============= */

input,
textarea,
button {
  font-family: inherit;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 2px rgba(0, 0, 0, 0.20), 0px 1px 3px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:focus,
.modal-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-btn:focus .modal-btn-icon,
.modal-btn:hover .modal-btn-icon {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field:nth-child(4) {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 34px;
  font-size: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap:focus-within .modal-input {
  border-color: #4d5ae5;
}

.input-wrap:focus-within .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-btn {
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 8px 16px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus-within {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-label-box-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-label-box-text a {
  color: #4d5ae5;
}

.check-label {
  display: flex;
  gap: 8px;
}

.check-label-box {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
}

input[type="checkbox"]:checked + label > span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}  

.modal-field-check {
  margin-bottom: 24px;
}

/* ==================768px====================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .features-subtitle {
    text-align: left;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-list {
    gap: 72px 24px;
  }

  .ourteam-list {
    gap: 64px 24px;
  }

  .ourteam-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .ourteam .container {
    padding-left: 108px;
    padding-right: 108px;
  } 

  .portfolio-list {
    justify-content: center;
    gap: 72px 24px;
  }

.portfolio-item {
  flex-basis: calc((100% - 24px) / 3);
}

.portfolio-item-overlay > img {
  width: 356px;
  height: 300px;
}

.portfoilo-item-container {
  width: 356px; 
}

.footer-container {
  gap: 72px 24px;
}

.footer-logo,
.footer-social-title,
.footer-subscribe-title {
  text-align: left;
}

.footer-logo-container {
  max-width: 264px;
}

.footer-social {
  width: 208px;
}

.footer {
  padding-left: 108px;
}

.footer-input {
  width: 264px;
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 25px 24px 23px;
}

.hero {
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-tab.jpg);
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-tab-2x.jpg);
  }
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 36px;
}

.menu-open-btn {
  display: none;
}

.header-menu {
  display: flex;
  gap: 40px
}

.header-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  margin-right: 120px;
}
} 

/* ==================1158px====================== */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .section-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  
  .features-item-icon {
    display: flex;
  }

  .features-item-text {
    font-weight: 400;
  }

  .ourteam {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .ourteam-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .ourteam-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .ourteam .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
}

.portfolio-item-overlay > img {
  width: 360px;
}

.portfoilo-item-container {
  width: 360px; 
}

.portfolio-list {
  gap: 48px 24px;
}

.footer {
  padding: 100px 0;
}

.footer-container {
  align-items: baseline;
  flex-wrap: nowrap;
  gap: 0;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-social {
  margin-right: 80px;
}

.footer-form {
  flex-wrap: nowrap;
}

.modal {
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-input {
  padding-left: 38px;
}

.hero {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-dt.jpg);
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-dt-2x.jpg);
  }
}

.hero-title {
  margin-bottom: 48px;
}

.header-logo {
  margin-right: 76px;
}

.header-contacts {
  display: block;
}

.header-contacts-list {
  flex-direction: row;
  gap: 40px;
}
}